<div class="mainPage">
  <div class="container">
    <div class="titleBlock">
      <div class="titleTextBlock">
        <div class="usersAmount">
          <div class="line"></div>
          <p>OVER 1000 USERS</p>
        </div>
        <div class="mainPageTitle">
          <h1>Enjoy Foods All Over The <span>World</span></h1>
          <p>
            EatLy help you set saving goals, earn cash back offers, Go to
            disclaimer for more details and get paychecks up to two days early.
            Get a <span>$20 bonus</span>.
          </p>
        </div>
        <div class="titleTextButtons">
          <button id="start">Get Started</button>
          <button id="pro">Go Pro</button>
        </div>
        <div class="rating">
          <div class="trustpilot"></div>
          <div class="stars"></div>
          <span class="usersNum">4900+</span>
        </div>
      </div>
      <div class="titleImgBlock"></div>
    </div>
  </div>
  <div class="attributes">
    <div class="container">
      <div class="usersData">
        <div class="usersDataInsights">
          <p>10K+</p>
          <p>Satisfied Costumers All Great Over The World</p>
        </div>
        <div class="lines"></div>
        <div class="usersDataInsights">
          <p>4M</p>
          <p>Healthy Dishes Sold Including Milk Shakes Smooth</p>
        </div>
        <div class="lines"></div>
        <div class="usersDataInsights">
          <p>99.99%</p>
          <p>Reliable Customer Support We Provide Great Experiences</p>
        </div>
      </div>
    </div>
  </div>
  <div class="quality">
    <div class="container">
      <div class="qualityInner">
        <div class="qualityImg"></div>
        <div class="qualityText">
          <p>Premium <span>Quality</span> For Your Health</p>
          <ul>
            <li>
              Premium quality food is made with ingredients that are packed with
              essential vitamins, minerals.
            </li>
            <li>
              These foods promote overall wellness by support healthy digestion
              and boosting immunity
            </li>
          </ul>
          <button>
            <p>Download</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
            >
              <path
                d="M6.55469 13.5469H22.3588"
                stroke="white"
                stroke-width="2.25773"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14.4561 5.64453L22.3581 13.5466L14.4561 21.4487"
                stroke="white"
                stroke-width="2.25773"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div class="qualityTextImg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="topRestaurants">
    <div class="container">
      <div class="topRestarauntsInner">
        <h2>Our Top <span>Restaurants</span></h2>
      </div>
    </div>
  </div>
</div>
